.input {
	padding: 8px 12px;
	border: 1px solid var(--main-text-color);
	border-radius: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition-duration: .2s;

	&:hover,
	&:focus {
		border-color: var(--main-text-color-hover);
	}

	&_big {
		display: block;
		padding: 18px 20px;
		font-size: 20px;
		width: 100%;
		min-width: 300px;
		max-width: 500px;
		border-width: 2px;
		border-radius: 30px;
	}

	&._error {
		border-color: var(--main-error-color);
	}
}