.signup {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        padding: 20px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
    }

    &__info {
        & > p {
            font-size: 18px;
            margin-bottom: 15px;
            text-align: center;
            &:last-child {margin-bottom: 0;}

            & > span {
                display: inline-block;
                border-radius: 4px;
                padding: 4px 10px;
                background-color: var(--main-spoiler-color);
                font-weight: 600;
                color: transparent;
                transition-duration: .1s;
    
                &:hover {
                    color: var(--main-text-color-hover);
                }
            }
        }
    }

    &__link {
        text-decoration: underline;
    }

    &__login {
        display: block;
        font-size: 24px;
        font-weight: 600;
    }
}